@tailwind base;
@tailwind components;
@tailwind utilities;

/* For sidebar */
.custom-scrollbar3 {
  overflow: auto; /* Enable scroll if content overflows */
}

.custom-scrollbar3::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 4px;
}

.custom-scrollbar3::-webkit-scrollbar-track {
  background: #efefef; /* Track color */
}

.custom-scrollbar3::-webkit-scrollbar-thumb {
  border-radius: 20px; /* Rounded corners for the thumb */
  background-color: #c1c1c1; /* Thumb color */
}

.custom-scrollbar3::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a; /* Thumb color on hover */
}

/* For Firefox */
.custom-scrollbar3 {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #c1c1c1 #efefef; /* Thumb and track color */
}

/* Green gradient border */
.green-gradient-border {
  border: 1px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(#EAFFEA, #EAFFEA), linear-gradient(0deg, #335f32, #335f32);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
